@import url('https://fonts.googleapis.com/css2?family=Besley:ital@1&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
max-width: 100%;
}

header{
    background-color: rgb(31, 20, 20);
    padding: 40px;
    border-bottom-right-radius: 150px;
    border-bottom-left-radius: 150px;
    text-align: center;
}

ul li{
    color:red;
    display: inline;
    margin: 100px;
    text-align: center;
    align-items: center;
}

ul li a{
    color: white;
    text-decoration: none;
}

li .icon i{
    cursor: pointer;
    margin-right:10px;
    text-align: center;
    align-items: center;
    font-size: 1.7rem;
    border-radius: 40%;
    background-color: gray;
}

li .icon i:hover{
    background-color:none;
    transform: rotate(0deg);
}

a:hover{
    border-top: 1px dotted orange;
    border-bottom: 1px dotted orange;
}



/*section*/

 .first-section  .grid{
    display: grid;
    grid-template-columns:2fr 2fr ;
    margin: 20px 20px;
    line-height: 2em;
}

.grid-content{
    margin-top: 55px;
    align-items: center;
    
}

.orange-dot img {
    border-radius: 100%;
    width: 15%;
    margin-bottom: 10px;

    }
.text{
    width: 100%;

}  

.text-content h1{
        font-size: 25px;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 25px;
    }
    
.text-content p{
        margin-top: 25px;
        text-decoration: none;
        max-width: 860%;
    }
    
 .text .div-img{
        margin-top: 35px;  
    }
    
.text .div-img img{
        margin-right: 50px;
    }
    
.second-div {
        margin-top: 45px;
        margin-left: 75px;
    }
    
.second-div .orange-dot img{
    float: right;
    margin-right: 50px;
    margin-top: 5px;
    width: 20%;
    }
    
.second-div img{
       align-items: center;

    }

@media (max-width:800px){

    body{
        width: 100%;
    }

    header{
        background-color: blue;
        color: white;
    }

    .header-nav{
        border: solid darkblue 5px;  
        padding: 10px;
    }

    ul li{
        display: flex;
        flex-direction: row;
        width: 100%;
        margin:0;
        padding:0;
        align-items: center;
        text-align: center;
        border: black solid 5PX;
        border-radius: 100px;  
    }

    ul li a{
        text-align: center;
        margin: 0 auto;
        padding: 10px;
        color: white;
        align-items: center;  
    }

    ul, li :hover{
        color:white;
        border-radius:  100px;
    }

  

    .first-section .grid{
       
        display: block;
    }

    .text{
        width: 100%;
        text-align: center;
    }
    
    .orange-dot{
        display: none;
    }



} 